spring:
    jackson:
        deserialization:
            fail-on-unknown-properties: false
        mapper:
            default-view-inclusion: true
        serialization:
            write-dates-as-timestamps: false
    jpa:
        hibernate:
            ddl-auto: create
        show-sql: true
        open-in-view: false
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                enable_lazy_load_no_trans: false
            jakarta:
                persistence:
                    query:
                        timeout: 1000
    main:
        banner-mode: off
    profiles:
        active: local
    application:
        name: salary-calc
    datasource:
        hikari:
            connection-timeout: 1000 # 1 second
            maximum-pool-size: 5

server:
    port: 8080
    servlet:
        context-path: /api
    # See also https://docs.spring.io/spring-boot/docs/2.7.9/reference/html/application-properties.html#appendix.application-properties.server
    tomcat:
        accept-count: 10
        max-connections: 400
        threads:
            max: 10
            min-spare: 5 # actuator port uses the same configuration

management:
    server:
        port: 8090
    endpoints:
        enabled-by-default: false
        web:
            exposure.include: health,prometheus,info,threaddump,heapdump,openapi,swaggerui
            cors:
                allowed-methods: '*'
                allowed-origins: '*'
                allowed-headers: '*'
    endpoint:
        health:
            enabled: true
            probes.enabled: true
            group:
                readiness:
                    include: readinessState,db
                    additional-path: server:/readyz # In order to collect probes from application main port
                    # show-components: always
        prometheus:
            enabled: true
        info:
            enabled: true
        threaddump:
            enabled: true
        heapdump:
            enabled: true
    metrics:
        distribution:
            percentiles-histogram:
                http.server.requests: true
            minimum-expected-value:
                http.server.requests: 10ms
            maximum-expected-value:
                http.server.requests: 10s
            slo:
                http.server.requests: 1s
    info:
        env.enabled: true
    health:
        livenessstate:
            enabled: true
        readinessstate:
            enabled: true
    prometheus:
        metrics:
            export:
                enabled: true

springdoc:
    show-actuator: true
    use-management-port: true

info:
    app.version: @project.version@
